@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-border: 220 13% 91%;
    --border: 214.3 31.6% 91.4%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 94%;
    --accent-foreground: 222.2 84% 4.9%;
  }

  * {
    border-color: hsl(var(--border));
    box-sizing: border-box;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
